@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', 'VT323', monospace;
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 120 100% 3%;
    --foreground: 120 100% 70%;
    --card: 120 100% 5%;
    --card-foreground: 120 100% 70%;
    --popover: 120 100% 5%;
    --popover-foreground: 120 100% 70%;
    --primary: 120 100% 70%;
    --primary-foreground: 120 100% 5%;
    --secondary: 120 100% 10%;
    --secondary-foreground: 120 100% 80%;
    --muted: 120 100% 10%;
    --muted-foreground: 120 100% 60%;
    --accent: 120 100% 50%;
    --accent-foreground: 120 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 100% 20%;
    --input: 120 100% 8%;
    --ring: 120 100% 50%;
    --chart-1: 120 70% 50%;
    --chart-2: 120 60% 45%;
    --chart-3: 120 80% 55%;
    --chart-4: 120 65% 60%;
    --chart-5: 120 75% 55%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 120 100% 3%;
    --foreground: 120 100% 70%;
    --card: 120 100% 5%;
    --card-foreground: 120 100% 70%;
    --popover: 120 100% 5%;
    --popover-foreground: 120 100% 70%;
    --primary: 120 100% 70%;
    --primary-foreground: 120 100% 5%;
    --secondary: 120 100% 10%;
    --secondary-foreground: 120 100% 80%;
    --muted: 120 100% 10%;
    --muted-foreground: 120 100% 60%;
    --accent: 120 100% 50%;
    --accent-foreground: 120 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 100% 20%;
    --input: 120 100% 8%;
    --ring: 120 100% 50%;
    --chart-1: 120 70% 50%;
    --chart-2: 120 60% 45%;
    --chart-3: 120 80% 55%;
    --chart-4: 120 65% 60%;
    --chart-5: 120 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
